In [1]:
import os
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
import plotly.express as px

import statsmodels.api as sm 
from statsmodels.graphics.api import abline_plot 
from sklearn.metrics import mean_squared_error, r2_score 
from sklearn.model_selection import train_test_split 
from sklearn import linear_model, preprocessing 
from sklearn.preprocessing import StandardScaler
import warnings 
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree, metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model  import LogisticRegression
from sklearn.svm import SVC
from sklearn.datasets import load_iris

import graphviz
from graphviz import Digraph

import graphviz as gr

from sklearn import datasets
from sklearn import svm

# Combining Dataframes

In [2]:
df1 = pd.read_csv('df1.csv' , index_col=0)
df1.head()

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,year_only,number_of_days
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2678.6,7,1980,7
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2177.2,13,1980,4
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,39579.0,1260,1980,182
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,2019.2,0,1981,2
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1372.9,20,1981,5

In [3]:
Inflation_rate_vs_total_cost = pd.read_csv('Inflation_rate_vs_total_cost.csv' , index_col=0)
Inflation_rate_vs_total_cost.head()

,year_only,Inflation rate value,Total CPI-Adjusted Cost (Millions of Dollars)
0,1980,82383.333333,44434.8
1,1981,90933.333333,3392.1
2,1982,96533.333333,14765.9
3,1983,99583.333333,26005.6
4,1984,103933.333333,3124.5

In [4]:
df= df1.merge(Inflation_rate_vs_total_cost, how= 'inner', on = 'year_only')
df.head()

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars)_x,Deaths,year_only,number_of_days,Inflation rate value,Total CPI-Adjusted Cost (Millions of Dollars)_y
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2678.6,7,1980,7,82383.333333,44434.8
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2177.2,13,1980,4,82383.333333,44434.8
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,39579.0,1260,1980,182,82383.333333,44434.8
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,2019.2,0,1981,2,90933.333333,3392.1
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1372.9,20,1981,5,90933.333333,3392.1

In [5]:
df= df.drop('Total CPI-Adjusted Cost (Millions of Dollars)_y', axis=1)
df.head()

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars)_x,Deaths,year_only,number_of_days,Inflation rate value
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2678.6,7,1980,7,82383.333333
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2177.2,13,1980,4,82383.333333
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,39579.0,1260,1980,182,82383.333333
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,2019.2,0,1981,2,90933.333333
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1372.9,20,1981,5,90933.333333

# Getting Dummies for categorical features and Scaler transform for numeric

In [7]:
X = df[['number_of_days', 'Deaths', 'Disaster', 'Inflation rate value']]
#X= df.loc[:,['number_of_days', 'Deaths', 'Disaster', 'Inflation rate value']
y = df[['Total CPI-Adjusted Cost (Millions of Dollars)_x']]

In [8]:
X.head()

   number_of_days  Deaths          Disaster  Inflation rate value
0               7       7          Flooding          82383.333333
1               4      13  Tropical Cyclone          82383.333333
2             182    1260           Drought          82383.333333
3               2       0            Freeze          90933.333333
4               5      20      Severe Storm          90933.333333

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [10]:
X1 = pd.get_dummies(X_train.Disaster)

In [11]:
scaleStandard = StandardScaler()

In [12]:
numeric_value1 = X_train.number_of_days

In [13]:
numeric_value2 = X_train.Deaths

In [14]:
numeric_value3 = X_train['Inflation rate value']

In [15]:
numeric_values = numeric_value1, numeric_value2, numeric_value3

In [16]:
numeric_values

(278     6
 60      0
 119     5
 266     1
 352     1
        ..
 71     10
 106     5
 270     3
 348    83
 102    90
 Name: number_of_days, Length: 282, dtype: int64,
 278       0
 60        0
 119    1833
 266       0
 352      33
        ...
 71       36
 106       7
 270      53
 348      22
 102      21
 Name: Deaths, Length: 282, dtype: int64,
 278    255651.666667
 60     152383.333333
 119    195266.666667
 266    251099.500000
 352    302340.833333
            ...
 71     160525.000000
 106    184000.000000
 270    251099.500000
 348    292612.500000
 102    179866.666667
 Name: Inflation rate value, Length: 282, dtype: float64)

In [17]:
X2 = scaleStandard.fit_transform(numeric_values)

In [18]:
X_train = X1, X2

In [19]:
X_train

(     Drought  Flooding  Freeze  Severe Storm  Tropical Cyclone  Wildfire  \
 278        0         0       0             1                 0         0
 60         0         0       0             1                 0         0
 119        0         0       0             0                 1         0
 266        0         0       0             1                 0         0
 352        0         0       0             1                 0         0
 ..       ...       ...     ...           ...               ...       ...
 71         0         1       0             0                 0         0
 106        0         0       0             1                 0         0
 270        0         0       0             0                 1         0
 348        0         1       0             0                 0         0
 102        0         0       0             0                 0         1

      Winter Storm
 278             0
 60              0
 119             0
 266             0
 352             0
 ..            ...
 71              0
 106             0
 270             0
 348             0
 102             0

 [282 rows x 7 columns],
 array([[-0.70708189, -0.70710678, -0.71705938, -0.70710256, -0.70721905,
         -0.70710678, -0.70709813, -0.70708707, -0.70710678, -0.70719388,
         -0.70711731, -0.70711403, -0.70719624, -0.70720077, -0.70716591,
         -0.70710192, -0.70549189, -0.70710678, -0.70710678, -0.70718539,
         -0.70657771, -0.7071115 , -0.7070238 , -0.70710678, -0.70709195,
         -0.70708726, -0.70720198, -0.70798427, -0.70738274, -0.70710678,
         -0.70636374, -0.7071774 , -0.70714451, -0.70717525, -0.70704995,
         -0.70621071, -0.7071462 , -0.70730957, -0.70746597, -0.70667502,
         -0.70709555, -0.70709626, -0.70744743, -0.70710316, -0.70709411,
         -0.70729851, -0.70684737, -0.70548918, -0.70781654, -0.70711029,
         -0.70711088, -0.70710268, -0.70598729, -0.70711133, -0.70710678,
         -0.70758438, -0.70710207, -0.70530596, -0.70719126, -0.70597865,
         -0.7073367 , -0.72003572, -0.70710079, -0.70711171, -0.70655061,
         -0.70729252, -0.70708438, -0.70586827, -0.70721315, -0.70708341,
         -0.70735317, -0.7072969 , -0.70713383, -0.70710207, -0.70710678,
         -0.70710678, -0.70710207, -0.70723308, -0.70674203, -0.70710678,
         -0.70708768, -0.7071107 , -0.70710678, -0.70711461, -0.70710678,
         -0.70710263, -0.70729621, -0.70747085, -0.70809736, -0.70709504,
         -0.70709626, -0.70723142, -0.70613688, -0.7070938 , -0.70709754,
         -0.70709848, -0.70710117, -0.70718695, -0.7071414 , -0.70733496,
         -0.70709049, -0.70628706, -0.70711029, -0.70709411, -0.70711041,
         -0.70726712, -0.70710236, -0.70714127, -0.70714139, -0.70710223,
         -0.70721151, -0.70711029, -0.72106112, -0.70718045, -0.70737632,
         -0.70710268, -0.70711907, -0.71036707, -0.70611205, -0.70711508,
         -0.7072321 , -0.70710287, -0.70710678, -0.70739108, -0.70716825,
         -0.70783432, -0.70725645, -0.70712635, -0.7071356 , -0.70714214,
         -0.70710236, -0.70713236, -0.70712988, -0.70730955, -0.70753773,
         -0.70627946, -0.7072808 , -0.70713167, -0.70724687, -0.7070883 ,
         -0.70709326, -0.7072527 , -0.7072133 , -0.70650573, -0.7071838 ,
         -0.70791805, -0.70678146, -0.70710268, -0.70709813, -0.7071315 ,
         -0.70709794, -0.70634553, -0.7070812 , -0.70710678, -0.70655589,
         -0.70706784, -0.70710268, -0.7070948 , -0.70711093, -0.70669151,
         -0.7071023 , -0.70713309, -0.70709922, -0.70711088, -0.70723673,
         -0.70750059, -0.70709504, -0.70728176, -0.70578579, -0.70710678,
         -0.70712447, -0.70710678, -0.70710287, -0.70721419, -0.7068568 ,
         -0.70714216, -0.70709783, -0.70731561, -0.70722774, -0.70791995,
         -0.70709411, -0.70712044, -0.70710316, -0.70724371, -0.70710268,
         -0.70710678, -0.70709411, -0.70709219, -0.70710287, -0.70712649,
         -0.70710678, -0.70625192, -0.70614312, -0.70710678, -0.71255308,
         -0.70781113, -0.70530513, -0.70706783, -0.70710678, -0.70712317,
         -0.70711573, -0.70709848, -0.70712635, -0.70730566, -0.70708886,
         -0.70547391, -0.70709859, -0.70725178, -0.70708947, -0.70712081,
         -0.70719378, -0.70727479, -0.70710256, -0.70714321, -0.70709219,
         -0.70709922, -0.70710678, -0.70783685, -0.70667633, -0.70713635,
         -0.70736044, -0.70758628, -0.70722266, -0.70709944, -0.70711329,
         -0.7071023 , -0.70710678, -0.70711945, -0.70710062, -0.70647511,
         -0.70710678, -0.70712842, -0.70860925, -0.70710287, -0.70972672,
         -0.70665447, -0.70709263, -0.70630387, -0.70745763, -0.70670252,
         -0.70712727, -0.70710327, -0.70709895, -0.70709813, -0.70713541,
         -0.70709944, -0.70710678, -0.70712526, -0.70710327, -0.70707906,
         -0.70860691, -0.70580324, -0.7090679 , -0.70712128, -0.70715098,
         -0.70709813, -0.70768847, -0.70713418, -0.70711164, -0.70704869,
         -0.70630244, -0.7072461 , -0.70765057, -0.70641829, -0.70642204,
         -0.70709195, -0.70533619, -0.7071315 , -0.70710327, -0.70709499,
         -0.7074379 , -0.70710316, -0.70710678, -0.70773155, -0.70711731,
         -0.7071955 , -0.70722228, -0.70727859, -0.70711831, -0.707318  ,
         -0.70688562, -0.70669973],
        [-0.70713167, -0.70710678, -0.69710727, -0.70711101, -0.70699451,
         -0.70710678, -0.70711544, -0.7071265 , -0.70710678, -0.70701968,
         -0.70709626, -0.70709953, -0.70701732, -0.70701279, -0.70704765,
         -0.70711164, -0.70872044, -0.70710678, -0.70710678, -0.70702817,
         -0.70763572, -0.70710207, -0.70718976, -0.70710678, -0.70712161,
         -0.7071263 , -0.70701158, -0.70622893, -0.70683079, -0.70710678,
         -0.70784956, -0.70703616, -0.70706905, -0.70703831, -0.70716361,
         -0.70800247, -0.70706736, -0.70690398, -0.70674753, -0.70753845,
         -0.70711801, -0.70711731, -0.70676608, -0.70711041, -0.70711945,
         -0.70691503, -0.70736616, -0.70872315, -0.70639679, -0.70710327,
         -0.70710268, -0.70711088, -0.70822569, -0.70710223, -0.70710678,
         -0.70662908, -0.7071115 , -0.70890607, -0.70702229, -0.70823432,
         -0.70687683, -0.69409856, -0.70711277, -0.70710185, -0.70766281,
         -0.70692102, -0.70712919, -0.70834457, -0.70700041, -0.70713015,
         -0.70686036, -0.70691664, -0.70707973, -0.7071115 , -0.70710678,
         -0.70710678, -0.7071115 , -0.70698047, -0.70747147, -0.70710678,
         -0.70712588, -0.70710287, -0.70710678, -0.70709895, -0.70710678,
         -0.70711093, -0.70691734, -0.70674265, -0.70611574, -0.70711852,
         -0.70711731, -0.70698214, -0.70807624, -0.70711976, -0.70711602,
         -0.70711508, -0.7071124 , -0.70702661, -0.70707216, -0.70687858,
         -0.70712308, -0.70792619, -0.70710327, -0.70711945, -0.70710316,
         -0.70694643, -0.7071112 , -0.70707229, -0.70707218, -0.70711133,
         -0.70700205, -0.70710327, -0.69306004, -0.70703311, -0.70683721,
         -0.70711088, -0.70709449, -0.70384147, -0.70810104, -0.70709848,
         -0.70698146, -0.7071107 , -0.70710678, -0.70682245, -0.70704531,
         -0.70637899, -0.7069571 , -0.70708721, -0.70707796, -0.70707143,
         -0.7071112 , -0.7070812 , -0.70708368, -0.706904  , -0.70667575,
         -0.70793378, -0.70693275, -0.70708189, -0.70696669, -0.70712526,
         -0.70712031, -0.70696085, -0.70700026, -0.70770766, -0.70702976,
         -0.7062952 , -0.70743206, -0.70711088, -0.70711544, -0.70708206,
         -0.70711562, -0.70786776, -0.70713236, -0.70710678, -0.70765752,
         -0.70714573, -0.70711088, -0.70711876, -0.70710263, -0.70752198,
         -0.70711126, -0.70708047, -0.70711434, -0.70710268, -0.70697683,
         -0.7067129 , -0.70711852, -0.70693179, -0.70842695, -0.70710678,
         -0.70708909, -0.70710678, -0.7071107 , -0.70699936, -0.70735673,
         -0.7070714 , -0.70711573, -0.70689793, -0.70698582, -0.7062933 ,
         -0.70711945, -0.70709312, -0.70711041, -0.70696984, -0.70711088,
         -0.70710678, -0.70711945, -0.70712137, -0.7071107 , -0.70708707,
         -0.70710678, -0.7079613 , -0.70807   , -0.70710678, -0.70164646,
         -0.7064022 , -0.70890691, -0.70714574, -0.70710678, -0.70709039,
         -0.70709783, -0.70711508, -0.70708721, -0.70690788, -0.7071247 ,
         -0.7087384 , -0.70711498, -0.70696177, -0.70712409, -0.70709275,
         -0.70701978, -0.70693876, -0.70711101, -0.70707036, -0.70712137,
         -0.70711434, -0.70710678, -0.70637646, -0.70753715, -0.70707721,
         -0.70685309, -0.70662717, -0.70699089, -0.70711412, -0.70710027,
         -0.70711126, -0.70710678, -0.70709411, -0.70711294, -0.70773826,
         -0.70710678, -0.70708515, -0.70560325, -0.7071107 , -0.7044836 ,
         -0.70755899, -0.70712093, -0.70790939, -0.70675588, -0.70751096,
         -0.70708629, -0.70711029, -0.70711461, -0.70711544, -0.70707816,
         -0.70711413, -0.70710678, -0.7070883 , -0.70711029, -0.7071345 ,
         -0.70560559, -0.70840953, -0.70514385, -0.70709228, -0.70706259,
         -0.70711544, -0.70652493, -0.70707938, -0.70710192, -0.70716487,
         -0.70791082, -0.70696745, -0.70656285, -0.70779505, -0.70779131,
         -0.70712161, -0.70887589, -0.70708206, -0.70711029, -0.70711858,
         -0.70677561, -0.70711041, -0.70710678, -0.70648183, -0.70709626,
         -0.70701806, -0.70699127, -0.70693496, -0.70709525, -0.70689554,
         -0.70732792, -0.70751376],
        [ 1.41421356,  1.41421356,  1.41416665,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421233,  1.41421356,  1.41421356,  1.41421356,
          1.41421343,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.4142132 ,  1.41421353,  1.41421356,
          1.4142133 ,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421318,  1.41421356,  1.41421354,  1.4142135 ,  1.41421347,
          1.41421356,  1.41421356,  1.41421351,  1.41421356,  1.41421356,
          1.41421355,  1.41421353,  1.41421233,  1.41421332,  1.41421356,
          1.41421356,  1.41421356,  1.41421297,  1.41421356,  1.41421356,
          1.41421345,  1.41421356,  1.41421203,  1.41421356,  1.41421296,
          1.41421354,  1.41413428,  1.41421356,  1.41421356,  1.41421342,
          1.41421355,  1.41421356,  1.41421284,  1.41421356,  1.41421356,
          1.41421353,  1.41421355,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421355,  1.4142135 ,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421355,  1.4142135 ,  1.4142131 ,  1.41421356,
          1.41421356,  1.41421356,  1.41421312,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421354,
          1.41421356,  1.41421325,  1.41421356,  1.41421356,  1.41421356,
          1.41421355,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41412116,  1.41421356,  1.41421353,
          1.41421356,  1.41421356,  1.41420854,  1.4142131 ,  1.41421356,
          1.41421355,  1.41421356,  1.41421356,  1.41421352,  1.41421356,
          1.41421331,  1.41421355,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421354,  1.41421347,
          1.41421324,  1.41421355,  1.41421356,  1.41421355,  1.41421356,
          1.41421356,  1.41421355,  1.41421356,  1.41421339,  1.41421356,
          1.41421325,  1.41421351,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421329,  1.41421356,  1.41421356,  1.41421342,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421348,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421355,
          1.41421349,  1.41421356,  1.41421355,  1.41421274,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421353,
          1.41421356,  1.41421356,  1.41421354,  1.41421356,  1.41421325,
          1.41421356,  1.41421356,  1.41421356,  1.41421355,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421322,  1.41421312,  1.41421356,  1.41419954,
          1.41421333,  1.41421203,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421354,  1.41421356,
          1.41421231,  1.41421356,  1.41421355,  1.41421356,  1.41421356,
          1.41421356,  1.41421355,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421331,  1.41421348,  1.41421356,
          1.41421353,  1.41421345,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421337,
          1.41421356,  1.41421356,  1.4142125 ,  1.41421356,  1.41421032,
          1.41421347,  1.41421356,  1.41421326,  1.4142135 ,  1.41421349,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.41421356,  1.41421356,  1.41421356,  1.41421356,  1.41421356,
          1.4142125 ,  1.41421276,  1.41421175,  1.41421356,  1.41421356,
          1.41421356,  1.4142134 ,  1.41421356,  1.41421356,  1.41421356,
          1.41421326,  1.41421355,  1.41421342,  1.41421334,  1.41421334,
          1.41421356,  1.41421209,  1.41421356,  1.41421356,  1.41421356,
          1.41421351,  1.41421356,  1.41421356,  1.41421338,  1.41421356,
          1.41421356,  1.41421356,  1.41421355,  1.41421356,  1.41421354,
          1.41421354,  1.41421348]]))

In [20]:
X3 = pd.get_dummies(X_test.Disaster)

In [21]:
numeric_value4 = X_test.number_of_days
numeric_value5 = X_test.Deaths
numeric_value6 = X_test['Inflation rate value']
numeric_values2 = numeric_value4, numeric_value5, numeric_value6

In [22]:
X4 = scaleStandard.fit_transform(numeric_values2)

In [23]:
X_test= X3,X4